.dropbtn {
    background-color: DodgerBlue;
    color: white;
    padding: 1em;
    font-size: 16px;
    border-radius: 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: Blue;
}

.view{
  width: 75%;
  margin: auto;
  padding: 1em;
}

.categoryView{
  width: 20%;
  float: left;
}

.newPost{
  margin-left: 2em;
}

.sortButton{
  margin-left: 20%;
  background-color: DodgerBlue;
  color: white;
  padding: 1em;
  font-size: 16px;
  border-radius: 12px;
}

.sortButton:hover {
    background-color: Blue;
}

.postsList{
  margin-top: 2em;
}

.title{
  text-align: center;
}
